.steps {
  @apply relative;

  &::after {
    content: "";
    @apply absolute z-[-1] top-0 right-0 bottom-[307px] left-0 bg-white200;
  }

  .block {
    @apply flex flex-col items-center pt-[100px];
    .title {
      @apply text-center max-w-[819px] w-[100%] font-normal  text-[38px] leading-[130%] text-[#4E4E4E] max-992:text-[34px] max-768:max-w-[571px] max-576:text-[26px] max-576:max-w-[421px];
      span {
        @apply text-[#0BAEB9];
      }
    }
    .line {
      @apply w-[111px] h-[4px] bg-[#E9E9E9] opacity-[0.6] rounded-[30px] mt-[20px] mb-[24px];
    }
    h4 {
      @apply relative top-[48px] text-center font-normal text-[24px] leading-[150%] text-[#95A1A1] max-992:text-[21px] max-768:static max-576:mb-[36px];
    }

    .stepsBlock {
      background-image: url("../../../assets/images/stepBackground.png");
      background-position: top center;
      @apply flex pt-[65px] relative top-[-65px] justify-between w-[100%] max-w-[921px] bg-no-repeat max-576:gap-[32px];

      @media only screen and (max-width: 768px) {
        @apply flex-wrap justify-center bg-none;
      }
    }
  }
}
